.graph {
  width: 100vw;
  border:50px solid #ECE8D9;
  border-radius: 3px;
  background-color: rgb(210, 205, 211);
  transform: scale(0.7);

}

button.m-5 {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: auto;
  background-color: #ECE8D9;
  border-color: transparent;
  color: #9A8194;
  align-items: center;
}

div.container {
  display:flex;
  justify-content: center;
}



